﻿@model IEnumerable<ASP_SemesterProject.Data.Entities.Order>

@{
    ViewData["Title"] = "Orders";
}

@foreach (var order in Model)
{
    int fullSum = 0;
    <table class="table" id="orders">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => order.Id) </th>
                <th>@Html.DisplayFor(model => order.Id) </th>
                <th>@Html.DisplayFor(model => order.IsCompleted) </th>
            </tr>
        </thead>
        <tbody>
            <table class="table" id="orderItems">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => order.OrderItems.FirstOrDefault().Item.Name) </th>
                        <th>@Html.DisplayNameFor(model => order.OrderItems.FirstOrDefault().Item.Price) </th>
                        <th>@Html.DisplayNameFor(model => order.OrderItems.FirstOrDefault().Count) </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in order.OrderItems)
                    {
                        int sumCount = item.Count * item.Item.Price;

                        fullSum += item.Item.Price;
                        <tr>
                            <td>@Html.DisplayFor(model => item.Item.Name) </td>
                            <td>@Html.DisplayFor(model => item.Item.Price) </td>
                            <td>@Html.DisplayFor(model=> item.Count) </td>
                            <td> @sumCount</td>
                        </tr>
                    }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Price: <b>@fullSum</b></td>
                        </tr>
                </tbody>

            </table>

        </tbody>
    </table>
}