﻿@model ASP_SemesterProject.Data.Entities.ShoppingCart

@{
    ViewData["Title"] = "ShopingCart";
}


<table class="table">
    <thead class="thead-dark">
        <tr>


            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Item Count</th>
            <th scope="col">Sum Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ShoppingCartItems)
        {
            int sumCount = item.Item.Price * item.Count;
            <tr>
                <td>@Html.DisplayFor(model => item.Item.Name)</td>
                <td>@Html.DisplayFor(model => item.Item.Price)</td>
                <td>@Html.DisplayFor(model => item.Count)</td>
                <td>@sumCount</td>
                <td>
                    <form asp-action="DeleteCartItem" method="post" asp-controller="ShopingCart">
                        <input type="hidden" name="ItemId" value="@item.Id" />
                        <input type="submit" class="btn btn-primary" value="Delete CartItem" />
                    </form>
                </td>
            </tr>
        }

    </tbody>

</table>
@if (Model.ShoppingCartItems.Count > 0)
{
    <div class="float-right">
        <form asp-action="PlaceOrder" method="post" asp-controller="ShopingCart">
            <input type="hidden" name="cartId" value="@Model.Id" />
            <input type="submit" class="btn btn-primary" value="Create Order" />
        </form>
    </div>
}