﻿@model IEnumerable<ASP_SemesterProject.Data.Entities.Item>
@{
    ViewData["Title"] = "Asd";

}


<div class="container-fluid">
    <section id="ItemTable">
        <div class="row text-center">

            @foreach (var item in Model)
            {
                string costvalue = string.Format("{0} FT", item.Price);
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">

                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>

                    <p>@Html.DisplayFor(modelItem => costvalue)</p>

                    <br />

                    <form asp-action="CreateShoppingCartItem" asp-controller="ShopingCart" method="post">
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="number" class="form-control" value="1" name="count" />

                        <h5></h5>
                        <input type="submit" class="btn btn-primary" value="Add to cart" />
                        @if (User.IsInRole("Admins"))
                        {
                            <h3>  @Html.ActionLink("Edit", "ItemEdit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })</h3>
                        }
                    </form>
                </div>
            }
        </div>
    </section>
</div>